[Desktop Entry]
Name=Qt Assistant
Comment=Shows Qt documentation and examples
Exec=assistant
Icon=assistant
Terminal=false
Hidden=true
Type=Application
Categories=Qt;Development;Documentation;
