[Desktop Entry]
Name=Settings Manager
Name[ca]=Gestor de configuració
Name[da]=indstillingshåndtering
Name[de]=Einstellungen
Name[en_GB]=Settings Manager
Name[es]=Gestor de configuración
Name[fr]=Gestionnaire de paramètres
Name[pl]=Menedżer ustawień
Name[pt_BR]=Gerenciador de configurações
Name[ro]=Gestionar de Setări
Name[sk]=Správca nastavení systému

Comment=Graphical Settings Manager for Manjaro
Comment[ca]=Gestor de configuració gràfic de Manjaro
Comment[da]=Grafisk indstillingshåndtering til Manjaro
Comment[de]=Grafische Einstellungsverwaltung für Manjaro
Comment[en_GB]=Graphical Settings Manager for Manjaro
Comment[es]=Gestor de configuración gráfico de Manjaro
Comment[fr]=Gestionnaire graphique de paramètres pour Manjaro
Comment[pl]=Graficzny menedżer ustawień systemu Manjaro
Comment[pl]=Gerenciador de configurações gráficas do Manjaro
Comment[ro]=Gestionar grafic de setări de sistem pt. Manjaro
Comment[sk]=Grafický správca nastavení pre systém Manjaro

Exec=manjaro-settings-manager
Icon=preferences-desktop
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;X-LXDE-Settings;X-KDE-Settings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
