// Copyright (C) 2022-2022 João Paulo Albuquerque Vieira <joaopauloalbu@gmail.com>
// Everyone is permitted to copy and distribute copies of this file under GPL2

@import "list.rasi"

* {
	background-color: #392C2D;
	border-color: #291D1E;
}

window {
	border-color: #E75456;
}

element selected, element-text selected { 
	background-color: #E75456;
}
