@import "base.rasi"

* {
	width: 670px;
	height: 139px;
}

inputbar {
	enabled: false;
}

listview {
	layout: vertical;
	dynamic: true;
	columns: 5;
	padding: 9px;
	spacing: 9px;
}

element {
	orientation: vertical;
	border-radius: @corner-radius;
	padding: 15px 0px;
}

element-text {
	expand: true;
	horizontal-align: 0.5;
	padding: 0px 6px;
	margin: 6px 0px -6px 0px;
	cursor: pointer;
}

element-icon {
	horizontal-align: 0.5;
	size: 64px;
	cursor: pointer;
}
